@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: black;
    color: white;
}

.Home ul li {
    width: 25px;
    list-style: none;
    display: flex;
    gap: 10px;
    padding-top: 25px;

}

.logo {
    width: 150px;
}

.cross {
    width: 35px;
    display: none;
}

.heading {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 23px 10px;
    padding-top: 15px;
    align-items: center;
}

.heading img {
    width: 25px;
}

.Library {
    min-height: 80vh;
    position: relative;
}





.left {
    width: 25vw;
    padding: 10px;

}

.right {
    width: 75vw;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px;

}

.footer a {
    color: grey;

}

.right {
    margin: 12px 12px 0 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 88px;

}

.header>* {
    padding: 20px;
}

.Spotify-playlists {
    padding: 16px;
    background-color: rgb(32, 32, 32);
}

.cardcontainer {
    margin: 30px;
    gap: 30px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    transition: all .9s;
}

.card>* {
    padding-top: 10px;

}
.card:hover{
    background-color: #4a4a4a;
    --a:1
}

.card img {
    width: 100%;
    object-fit: contain;
    /* border-radius: 50%; */
}

.play {
    position: absolute;
    border-style: none;
    top: 134px;
    right: 50px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.svg-none {
    cursor: not-allowed;
}

.hamburger {
    cursor: pointer;
}

.button {
    gap: 25px;
}

.signupbtn {
    background-color: #121212;
    color: grey;
    font-weight: bold;
    font-size: 20px;
    padding: 12px;
    border: none;
}

.signupbtn:hover {
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
}

.loginbtn {
    background-color: white;
    color: black;
    border-radius: 30px;
    font-weight: bold;
    font-size: 20px;
    padding-inline: 20px;

}

.loginbtn:hover {
    font-size: 1.3rem;
    cursor: pointer;
}

.playbar {
    position: absolute;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    min-height: 40px;
    width: 68vw;
}

.seekbar {
    height: 5px;
    width: 99%;
    background: black;
    position: absolute;
    cursor: pointer;
    bottom: 0;


}

.round {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: black;
    position: relative;
    bottom: 5px;
    transition: left 0.5s;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    padding: 0 0 10px;
}

.songList ul {
    padding: 0 12px;
    overflow: auto;
    max-height: 70vh;

}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    overflow: auto;
    max-height: 70vh;

    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 15px;
    width: 344px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.abovebar {
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-between;


}

.songtime {
    color: black;
    padding: 20px 0;
    width: 100px;
}

.songinfo
{
    color:black;
    padding: 20px 0;
    width: 250px;
}

.timevol {
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
}

.sound,
input {
    cursor: pointer;

}

@media (max-width:1200px) {
    .left {

        position: absolute;
        left: -120%;
        transition: all .5;
        z-index: 2;
        width: 400px;
        overflow: auto;
    }

    .right {
        width: 100vw;
        height: 20px;
    }

    .hamburger {
        display: block;
    }

    .cross {
        display: block;
        width: 35px;
        cursor: pointer;
    }

    .playbar {
        display: flex;
        justify-content: center;
        width: calc(100vw - 75px);
        margin: 0 0 0 -16px;
    }

    /* .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    } */

    .songinfo,
    .songtime {
        width: auto;
    }

    .abovebar {
        gap: 16px;
        flex-direction: column;
    }

    .cardcontainer {
        height: 100vh;
        
    /* }
    .Spotify-playlists{
        height: 100vh;
    } */

   

    .card {
        width: 44vw;
    }

    input {
        width: 80px
    }

    ;

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header {
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library {
        height: 85vh;
    }

    .left {
        width: 100vw;
    }




}